h1,h2,p 
{
    font-family: arial black;
}
h1,h2
{
	font-size: large;
	text-align: left;
	text-transform: uppercase;
	text-decoration: underline;
	color: red;
}
p 
{
	font-size: medium;
	text-align: center;
	color: blue;
}
html
{
	background-color: green;
}

	